@use "variables" as *;
@use "mixins";

.basket {
  @include mixins.flex(column);
  gap: 1rem;
  height: 100%;
  padding-left: 40px;
  padding-top: 45px;
  &__list {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 411px;
    margin-block-start: 0;
    margin-block-end: 2em;
  }
  &__list &__empty {
    padding-bottom: 0;
    padding-top: 40px;
  }
  &__item:last-child {
    padding-bottom: 3rem;
  }

  &__item {
    border-bottom: 1px solid $primary;
    height: auto;

    &-index {
      @include mixins.flex(row);
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $primary;
      color: white;
      margin-right: 1rem;
    }

    &-delete {
      @include mixins.icon(2rem, "trash");
      @include mixins.link($hover, white);
      margin-left: 4rem;
    }
  }

  &__empty {
    font-family: "YS Text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 100%;
    margin: 0;
    opacity: 0.3;
    padding-bottom: 0;
  }

  &__price {
    font-size: $mainFontSize;
  }
}
