@use "variables" as *;
@use "mixins";
@use "sass:color";

.form {
  @include mixins.flex(column);
  gap: 8.5rem;
  border-radius: 3rem;
  padding-left: 35px;
  padding-top: 45px;
  padding-bottom: 50px;
  &__label {
    flex-grow: 1;
  }

  &__input {
    background: transparent;
    color: white;
    border: $defaultBorder;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    width: 88%;
    box-sizing: border-box;
    outline-color: $secondary;
    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: color.adjust($primaryLight, $lightness: 23%);
    }
  }

  &__errors {
    font-size: 30px;
  }
}
