@use "variables" as *;
@use "mixins";

.gallery {
  @include mixins.container;
  @include mixins.grid(600px, 24px);
  padding: 4rem 0rem 8rem;
  &__item {
    border: none;
    border-radius: $defaultBorderRadius;
    @include mixins.selectable($secondary, 2px, $primaryLight);

    &::after {
      border-radius: 0.8rem;
    }
  }
}
