@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  position: fixed;
  display: none;
  background-color: $overlayBackground;
  z-index: 100;
  padding-top: 4.87vh;
  box-sizing: border-box;

  &_active {
    display: flex;
    flex-direction: row;
    align-content: start;
    flex-wrap: wrap;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: $background;
    border-radius: 3rem;
    box-sizing: border-box;
    position: relative;
    padding: 2.4rem 0.5rem 2.4rem;
  }
  &:has(.card_full) {
    padding-top: 6vh;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2.4rem;
  }
  &:has(.basket__item) .modal__actions {
    padding-bottom: 2.4rem;
    padding-top: 2rem;
  }

  &__close {
    position: absolute;
    top: calc(#{2.6rem} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2.5rem, "close");
    @include mixins.link(white, $hover);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space: nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}
